<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>mymodule</name>
            <displayName><![CDATA[Primo modulo]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Il mio Primo modulo]]></description>
            <author><![CDATA[Marco Pinna]]></author>
            <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>Sei sicuro di vole disinstallare il modulo?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>