<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>artimport</name>
            <displayName><![CDATA[100-one.it import]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Custom XML import for 100-one.it]]></description>
            <author><![CDATA[Marco Pinna]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>